# ------------------------------------------------------------------------------
# Thesis and Academic Drafts
# ------------------------------------------------------------------------------
misc/thesis/

# ------------------------------------------------------------------------------
# Python & Bytecode
# ------------------------------------------------------------------------------
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# ------------------------------------------------------------------------------
# Uploaded & Temporary Audio Data
# ------------------------------------------------------------------------------
backend/uploads/*
!backend/uploads/.gitkeep
backend/stems_temp/*
!backend/stems_temp/.gitkeep

# ------------------------------------------------------------------------------
# Operating System & IDE
# ------------------------------------------------------------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/
